.login-header {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 25px;
}

.login-container {
    max-width: 330px;
    margin: 0 auto;
}

.login-container input,
.login-container label {
    width: 100%;
}