.section-header {
}

.section-header h2 {
    display: inline-block;
}

.section-header .btn {
    margin-top: 12px;
}

.book-details > div {
    padding: 6px 0;
}

.book-details-footer {
    margin-top: 12px;
}