.main-header h1 {
    float: left;
    padding-bottom: 25px;
}

.session-form {
    float: right;
    margin-top: 20px;
}

.session-form > span {
    font-weight: bold;
    margin-right: 10px;
}

.section-header {
    margin-bottom: 12px
}

.section-header h2 {
    display: inline-block;
}

.section-header .btn {
    margin-top: 12px;
}

.book-details > div {
    padding: 6px 0;
}

.book-details-footer {
    border-top: 1px solid #333;
    margin-top: 12px;
    padding-top: 12px;
}