<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main-template">
<head>
    <title th:text="${book.title}">Book title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="section-header">
        <h2 th:text="${book.title + ' (' + book.author + ')'}">A book</h2>
        <a th:text="#{book.edit}" th:href="@{/books/{id}/edit(id=${book.id})}" class="btn btn-success pull-right" >Edit</a>
    </div>
    <div class="book-details">
        <div class="row">
            <div class="col-md-2"><strong th:text="#{book.title}">Title</strong></div>
            <div class="col-md-2"><span th:text="${book.title}">title</span></div>
        </div>
        <div class="row">
            <div class="col-md-2"><strong th:text="#{book.author}">Author</strong></div>
            <div class="col-md-2"><span th:text="${book.author}">author</span></div>
        </div>
        <div class="row">
            <div class="col-md-2"><strong th:text="#{book.type}">Type</strong></div>
            <div class="col-md-2"><span th:text="#{|book.type.${book.type}|}">type</span></div>
        </div>
        <div class="row">
            <div class="col-md-2"><strong th:text="#{book.publicationYear}">Publication year</strong></div>
            <div class="col-md-2"><span th:text="${book.publicationYear}">publication</span></div>
        </div>
    </div>
    <div th:replace="fragments/book-details-footer :: footer"></div>
</div>
</body>
</html>