<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main-template">
<head>
    <title th:text="${book.title}">Edit book</title>
</head>
<body>
<div layout:fragment="content">
    <h2 th:text="${book.id > 0} ? ${book.title} : #{book.new.title}">Edit book</h2>

    <form action="#" th:action="@{/books/save}" th:object="${book}" method="post">
        <input type="hidden" value="" th:field="*{id}" />
        <div>
            <label for="title">
                <strong th:text="#{book.title}">Title</strong>
            </label>
            <input type="text" th:field="*{title}" th:errorclass="fieldError"/>
        </div>
        <div>
            <label for="author">
                <strong th:text="#{book.author}">Author</strong>
            </label>
            <input type="text" th:field="*{author}" th:errorclass="fieldError"/>
        </div>
        <div>
            <label for="type">
                <strong th:text="#{book.type}">Author</strong>
            </label>
            <select th:field="*{type}" th:errorclass="fieldError">
                <option value=""></option>
                <option th:each="type : ${bookTypes}"
                        th:value="${type}"
                        th:text="#{|book.type.${type}|}">type</option>
            </select>
        </div>
        <div>
            <label for="publicationYear">
                <strong th:text="#{book.publicationYear}">Publication year</strong>
            </label>
            <input type="text" th:field="*{publicationYear}" th:errorclass="fieldError"/>
        </div>
        <div class="submit">
            <button type="submit" th:text="#{book.save}" >Save</button>
        </div>
    </form>
</div>
</body>
</html>