<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">Thymeleaf Bookshelf</title>
</head>
<body>
<div layout:fragment="content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec molestie, tortor sit amet scelerisque auctor, urna
    dui lobortis ex, gravida blandit magna leo et ligula. Vivamus sit amet pretium nunc. Pellentesque tincidunt bibendum
    sagittis. Nam in magna ac nunc hendrerit cursus. Maecenas metus nunc, faucibus id faucibus et, fermentum ut tortor.
    Aenean quis tincidunt nisi, in venenatis augue. Nunc id vestibulum odio. Aliquam egestas ornare magna, porta mollis
    elit rutrum nec. In pharetra purus eu porttitor blandit.
</div>
</body>
</html>